# Created by https://www.toptal.com/developers/gitignore/api/angular
# Edit at https://www.toptal.com/developers/gitignore?templates=angular

### Angular ###
# Compiled output
dist/
tmp/
out-tsc/
bazel-out/
app/**/*.js
app/**/*.js.map

# Dependencies
node_modules/
bower_components/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
testem.log/
typings/
.angular/

# End of https://www.toptal.com/developers/gitignore/api/angular

# System Files
.DS_Store
Thumbs.db
