<div class="bulk-insertion-container">
  <h4>Bulk Insertion of Jobs</h4>

  <mat-form-field appearance="outline" class="file-format-dropdown">
    <mat-label>Select File Format</mat-label>
    <mat-select [(value)]="selectedFileFormat">
      @for (format of fileFormats; track format) {
      <mat-option [value]="format">
        {{ format }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="file-upload-section">
    <input
      type="file"
      (change)="onFileSelected($event)"
      [accept]="selectedFileFormat === 'XLSX' ? '.xlsx' : '.csv'"
    />

    @if (errorMessage()) {
    <p class="text-red-600">{{ errorMessage() }}</p>
    }

    <div class="mt-5 w-48 flex flex-1 justify-between">
      <button
        mat-flat-button
        [disabled]="!isFileSelected()"
        (click)="onUpload()"
      >
        Verify
      </button>

      <button
        mat-flat-button
        color="warn"
        [disabled]="!isValidate()"
        (click)="onInsert()"
      >
        Insert
      </button>
    </div>

    @if (errorArray().length > 0) {
    <div class="error-table-container mt-4">
      <table class="w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-300 p-2">Row Number</th>
            <th class="border border-gray-300 p-2">Errors</th>
          </tr>
        </thead>
        <tbody>
          @for (err of errorArray(); track $index) {
          <tr class="hover:bg-gray-50">
            <td class="border border-gray-300 p-2 text-center">
              {{ err.row }}
            </td>
            <td class="border border-gray-300 p-2">
              @for (errorMsg of err.errors; track errorMsg) {
              <p class="text-red-500 mb-1">{{ errorMsg }}</p>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</div>
