.acceptBtn {
  color: #018601;
}
.rejectBtn {
  color: #a00303e3;
}
.btnColor {
  background-color: #02267433;
}

.search-bar {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  width: 100%;
}

.search-bar input {
  width: 35%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
}

.search-bar input:focus {
  border-color: cadetblue;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page-size-select {
  width: 150px;
  height: 10px;
  margin-left: 200px;
  padding: 2px;
  display: flex;
  align-self: center;
}
