<div class="search-bar flex justify-between w-full align-middle">
  <div>
    <input matInput [formControl]="searchUser" placeholder="Search Users..." />
  </div>
  @if (isAnyItemSelected()) {
  <div>
    <button mat-flat-button [matMenuTriggerFor]="bulkActions">
      Bulk Actions
    </button>
  </div>
  }
</div>

<mat-menu #bulkActions="matMenu">
  <button mat-menu-item class="bulkDelete" (click)="onDelete()">Delete</button>
  <button mat-menu-item class="bulkLock" (click)="onLock()">Lock</button>
  <button mat-menu-item class="bulkUnLock" (click)="onUnLock()">Un Lock</button>
</mat-menu>

<table mat-table matSort [dataSource]="datasource" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        color="primary"
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="mysort('firstName')"
    >
      First Name
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.firstName | titlecase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="mysort('lastName')"
    >
      Last Name
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.lastName | titlecase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="mysort('email')"
    >
      Email
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="mysort('city')"
    >
      City
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.city | titlecase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Role">
    <th mat-header-cell *matHeaderCellDef class="header-cell-role">
      Role
      <mat-icon
        [matMenuTriggerFor]="menu"
        class="flex align-middle text-gray-600"
        >filter_list</mat-icon
      >
    </th>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="filterRole('jobseeker')">Jobseeker</button>
      <button mat-menu-item (click)="filterRole('employer')">Employer</button>
    </mat-menu>
    <td mat-cell *matCellDef="let user">
      {{ user.Roles | titlecase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      Status
      <mat-icon
        [matMenuTriggerFor]="statusMenu"
        class="flex align-middle text-gray-600"
        >filter_list</mat-icon
      >
    </th>
    <mat-menu #statusMenu="matMenu">
      <button mat-menu-item (click)="filterStatus('locked')">Locked</button>
      <button mat-menu-item (click)="filterStatus('unlocked')">
        Un Locked
      </button>
    </mat-menu>
    <td mat-cell *matCellDef="let user">
      {{ user.isLocked ? "Locked" : "un Locked" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <div class="flex gap-2">
        <button mat-icon-button>
          <mat-icon class="text-gray-700">edit</mat-icon>
        </button>

      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<hr />
<mat-paginator
  [length]="totalCount()"
  [pageSize]="5"
  [pageSizeOptions]="[3, 5, 10, 25, 100]"
  (page)="pageEvent($event)"
  aria-label="Select page"
>
</mat-paginator>

