<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        required
        autocomplete="current-password"
      />
      @if(passwordForm.get('password')?.hasError('required')){
      <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        required
        autocomplete="new-password"
      />
      @if(passwordForm.get('newPassword')?.hasError('required')){
      <mat-error>New password is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        required
        autocomplete="new-password"
      />
    </mat-form-field>
    @if(passwordForm.get('confirmPassword')?.dirty&&
    passwordForm.hasError('valuesNotEqual')){
    <mat-error>password and confirm password does't match</mat-error>
    }
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!passwordForm.valid"
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
